
@{
    ViewBag.Title = "Add";
}
@model ProductVM



<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Add", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.TextBoxFor(a => a.Product.ProductName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(a => a.Product.UnitInStock, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(a => a.Product.UnitPrice, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(a => a.Product.CategoryID, new SelectList(Model.Categories, "CategoryID", "CategoryName"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(a => a.Product.SupplierID, new SelectList(Model.Suppliers, "SupplierID", "CompanyName"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Add Product</button>
            </div>
        }
    </div>
</div>
<div class="panel-footer">
    @if (ViewBag.Message != null)
    {
        <span class="alert alert-info">@ViewBag.Message</span>
    }
</div>

